@import './_adaptive.sass'

body
    height: 100%
    
    
.grid
    display: grid
    height: 100%
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr 80px
    grid-template-areas: 'o1 o3 o3' 'o2 o3 o3' 'footer footer footer'
    +mobile
        padding: 0
        width: 100%
        margin: 0 auto
        grid-template-columns: 100%
        grid-template-rows: auto
        grid-template-areas: 'o1' 'o2' 'o3' 'footer'

.v-offer-text
    grid-area: o1
    display: flex
    height: 100%
    align-items: center 
    padding-left: 50px   
    +mobile
        max-width: 320px
        width: 100%
        margin: 0 auto
        padding: 0
        padding-top: 150px

.v-offer-block
    grid-area: o2 
    padding-left: 50px
    +mobile
        padding: 0
        max-width: 320px
        width: 100%
        margin: 0 auto
        padding-left: 0
        padding-top: 50px

.nav_bar
    grid-area: header
    padding: 30px 50px
    display: flex
    justify-content: space-between
    width: 100%
    +mobile
        padding: 10px 10px
        margin: 0 auto
        width: 100vw
        


.v-offer-slider
    grid-area: o3  

.footer
    grid-area: footer  
    padding-bottom: 30px  
    padding: 0 50px
    +mobile
        justify-content: center
        padding: 25px 0

.modal-overlay
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    width: 100vw
    height: 100vh
    background-color: #1A1A1A
    z-index: 98

